@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.modal-header i {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.modal-lists ul {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.modal-lists li {
  list-style: none;
  padding: 10px 10px;
  border: 1px solid black;
  margin: 3px;
}

.modal-lists a {
  text-decoration: none;
  color: #091e42;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  background-color: #fff;
  padding: 0.5rem;
}

.modal-buttons a {
  padding: 16px;
  text-decoration: none;
  margin: 2px;
  margin-top: 10px;
  background: #ff6b00;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3e3c3c;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  padding: 20px;
  background-color: none;
}

.hamburger {
  position: relative;
  z-index: 100;

  /* top: 1rem;
  right: 1rem; */

  padding: 10px;
  color: #fbf8f7;
  background: none;
  cursor: pointer;
  font-size: 30px;
  border: none;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #3c3a39;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.menu li {
  list-style: none;
  padding: 16px;
  font-size: large;
  margin-left: 40px;
}

.menu a {
  text-decoration: none;
  color: #fff5e1;
}

.showMenu {
  transform: translateY(0);
}

nav i:hover {
  color: #bbbab8;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-title {
  margin-left: 7.5%;
}

.nav-title h3 {
  padding: 18px;
}

.nav-title a {
  text-decoration: none;
  color: #fff;
}

.menu-img {
  display: none;
}

.modal-header a {
  text-decoration: none;
}

/* nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: white;
  background: #3c3a39;
  margin-right: 7.5%;
}

nav i:hover {
  color: #bbbab8;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-title {
  margin-left: 7.5%;
}

.nav-title h3 {
  padding: 18px;
}

nav h3:hover {
  color: #bbbab8;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-items {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 30px;
}
.nav-title a {
  text-decoration: none;
  color: #fff;
} */

.header-section {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  background-image: url(img/Illustration.png);
  background-repeat: no-repeat;
  background-position: right 60px;
}

.header-section h4 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: 5px;
}

.header-section h6 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  /* or 133% */

  display: flex;
  align-items: center;

  /* Theme 3 / Primary 4 */

  color: #fff5e1;
  margin-bottom: 7px;
}

.header-section p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Theme 3 / Neutral 11 */

  color: #fff;
}

.icons {
  display: flex;
  justify-content: flex-start;
}

.icons li {
  list-style: none;
  padding: 14px;
}

.about a {
  display: block;
  align-items: center;
  padding: 12px;
  gap: 10px;
  text-decoration: none;
  width: 161px;
  height: 48px;

  /* Theme 3 / Primary 1 */

  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  margin-top: -20px;
  margin-left: 30px;
}

.project-container a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.work-section-list a {
  text-decoration: none;
  color: #212121;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.footer-icons a {
  text-decoration: none;
  color: #505f79;
  font-weight: bold;
}

.icons li a {
  color: #fff;
}

/* work section */

.work-section {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-section .work-title {
  margin-top: 50px;
  padding: 5px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

.work-section hr {
  height: 0;
  border: 1px solid #212121;
}

.work-flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.work-flex-desc {
  text-align: left;
  width: 350px;
}

.work-section img {
  margin: 24px 12px;
  margin-top: 70px;
  width: 327px;
  height: 237px;
}

.work-section .work-subtitle {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  padding: 10px;
}

.work-section .work-desc {
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.work-section-list {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.work-section-list li {
  margin: 8px;
  list-style: none;
  padding: 9px;
  background-color: #fff;
  border: 1px solid black;
}

.project-btn {
  margin: 8px;
  display: block;
  text-decoration: none;
  padding: 10px;
  width: 130px;
  margin-top: 10px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Project section */

.project-container {
  display: grid;
  grid-template-columns: auto;
  margin-top: 20px;
  padding: 10px;
}

.project-box {
  padding: 10px;
  width: 327px;
  height: 300px;
  background: url(img/background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.project-title {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-top: 30px;
}

.project-desc {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.project-container ul {
  display: flex;
  justify-content: flex-start;
}

.project-container li {
  list-style: none;
  margin: 8px;
  padding: 9px;
  background: rgba(255, 255, 255, 0.24);
}

.see-project-btn {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-left: -10px;
  margin-top: 15.5rem;
  width: 327px;
  background-color: #ff6b00;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.last-see-project-btn {
  display: block;
  padding: 10px;
  width: 327px;
  background-color: #ff6b00;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 80px;
}

/* About section */

.about {
  background-color: #1c1a19;
  padding: 10px;
  height: 590px;
  background-image: url(img/Frame.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.about-title {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;

  /* or 122% */

  letter-spacing: 0.37px;

  /* Theme 3 / Primary 1 */

  color: #ff6b00;
  margin-top: 40px;
  padding: 30px;
}

.about-desc {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N20 */

  color: #f4f5f7;
  padding: 30px;
  margin-top: -50px;
}

.about hr {
  height: 0;
  border: 1px solid #ddd8d8;
  margin-top: 260px;
}

/* Languages section */

.languages-container {
  padding: 8px;
  background-color: #1c1a19;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 40px;
}

.title-container img {
  width: 18px;
  height: 18px;
  margin-top: 5px;
}

.lang-title {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  margin-left: 10px;
}

.lang-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.lang-list li {
  list-style: none;
  margin-top: 20px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.work-section-list a:hover {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.about a:hover {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.project-container a:hover {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.icons li a:hover {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

/* Form section */

.form-info-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  background: #e5e5e5;
}

.form-desc h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;

  /* or 138% */

  text-align: center;

  /* Neutrals/N800 */

  color: #172b4d;
  margin-top: 7rem;
}

.form-main {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 2rem;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  width: 100%;
  height: 30px;
  border: none;
  margin-top: 12px;
  background: #e5e5e5;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

input::placeholder {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

#text-label {
  margin-top: 19px;
  min-height: 114px;
}

textarea {
  width: 100%;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  /* or 160% */

  /* Theme 3 / Neutral 2 */

  color: #3c3a39;
  background: #fbf8f7;
  padding: 10px;
}

.form-button {
  height: 3rem;
  width: 9rem;
  margin: 16px 10rem;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

/* FOOTER SECTION */

footer {
  background: #e5e5e5;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icons li {
  list-style: none;
  padding: 20px;
}

.form-button:hover {
  cursor: pointer;
  transition: 0.5s ease-in;
}

/* MODAL STYLES */
.modal {
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5ms ease-in-out;
  display: none;
}

.modal.show {
  display: block;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100vh;
  margin: 20px 20px;
  padding: 16px 15px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 30px;
}

.modal-body img {
  width: 100%;
}

.modal-body p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.modal-buttons {
  margin-top: 20px;
}

/* DEKSTOP VERSION */

@media screen and (min-width: 900px) {
  header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-right: 40px;
  }

  .hamburger {
    display: none;
  }

  .menu {
    position: relative;
    top: 85px;
    display: flex;
    margin-right: 50px;
    margin-top: 10px;
  }

  .menu li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 17px;
  }

  .menu-img {
    display: block;
  }

  .header-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 80vh;
    background-image: url(img/Group.png);
    background-repeat: no-repeat;
    background-position: right;
  }

  .hero-desc {
    padding-right: 30rem;
  }

  .icons {
    flex-direction: column;
    margin-right: 60px;
    margin-left: -40px;
  }

  /* Work section */
  .work-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .work-title-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .work-title-container hr {
    margin-top: 50px;
    height: 0;
    width: 764px;
    border: 1px solid #212121;
  }

  .work-flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .work-flex-container img {
    width: 700px;
    height: 100%;
  }

  .project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 7rem;
  }

  /* ABOUT ME */

  .about {
    background-color: #1c1a19;
    padding: 10px;
    height: 590px;
    background-image: url(img/framedeks.png);
    background-position: right;
    background-repeat: no-repeat;
  }

  .about-desc {
    width: 600px;
  }

  .about-container {
    margin-top: 60px;
    margin-left: 60px;
  }

  .about a {
    margin-top: 10px;
  }

  .about hr {
    height: 0;
    border: 1px solid #ddd8d8;
    margin: 70px;
    margin-top: 12rem;
  }

  .languages-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
  }

  .lang-title {
    text-align: left;
  }

  .lang-list {
    text-align: left;
  }

  .form-info-container {
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    background: #e5e5e5;
    flex-direction: row;
  }

  .form-desc {
    width: 400px;
  }

  .form-desc h1 {
    text-align: left;
  }

  .form-main {
    width: 500px;
  }

  .form-button {
    height: 3rem;
    width: 9rem;
    margin: 16px -2px;
    background: #ff6b00;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
  }

  .modal {
    width: 100%;
    height: 100%;
  }

  .modal-container {
    width: 80vw;
    height: 80vh;
    margin: 100px 100px;
    padding: 15px 15px;
  }

  .modal-body {
    display: flex;
    justify-content: space-evenly;
  }

  .modal-body img {
    width: 659px;
    height: 448px;
    padding-right: 20px;
  }

  .modal-body p {
    letter-spacing: 2px;
    line-height: 1.5rem;
  }

  .modal-buttons {
    display: inline;
  }
}
